# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=pg db url

ADMIN_USERNAME=admin
# sudo
ADMIN_HASHED_PASSWORD=EGoR/EGJxtZZfOtk+D70sCYOUwWMPuDHuGV8qKty8Ongs8Goep4q+YktlGrk8+NuqZfffdaulVMEHEFnT4VctQ==

STRIPE_SECRET_KEY=stripe sk 
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=stripe pk 
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

STRIPE_WEBHOOK_SECRET=stripe wh

RESEND_API_KEY=resend key
SENDER_EMAIL=sender email